<div id="<%= dom_id message %>">
  <p>
    <strong>Chat:</strong>
    <%= message.chat %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Chatroom:</strong>
    <%= message.chatroom_id %>
  </p>

</div>
