

<%= render @chatroom %>

<div>
  <%= link_to "Edit this chatroom", edit_chatroom_path(@chatroom) %> |
  <%= link_to "Back to chatrooms", chatrooms_path %>

  <%= button_to "Delete", @chatroom, method: :delete %>
</div>
