.chat-room {
    height: 100vh;
    overflow-y: hidden;
}

.chat {
    display: inline-block;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 10px;
}

.message-area {
   position: absolute;
    bottom: 0;
    padding: 20px; 
    width: 70%; 
}

.me {
    float: right;
}

.user {
    font-size: 11px;
    color: rgb(65, 64, 64);
}